meta(name="viewport" content="width=device-width, initial-scale=1.0")

doctype html
html
  head
      link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/favicon.ico?v=1.1')
      meta(charset='UTF-8',name='viewport', content='width=device-width, initial-scale=1.0')
      title #{title}
      link(rel='stylesheet', href='/styles/coursenotes.css')
      script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(src='/js/jquery.simplePagination.js')
      script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
      link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Oswald:300,400")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    div(class='navigation')
      a(href='/', class='name') Harsh Patel
      a(class='fa fa-linkedin', href='https://www.linkedin.com/in/mrharshpatel/',target='_blank')
      a(class='fa fa-github', href='https://github.com/MrHarshPatel',target='_blank')
      a(class='fa fa-envelope', href='mailto:me@mrharshpatel.com',target='_blank')
      a(class='fa fa-download', href='#',target='_blank')
    div(class='mainContainer left')
      div(class='not-transparent',style="background: url(/images/courses/"+courseName.replace(/\s/g, '')+".jpg) no-repeat; background-size: 100%;")
        div(class='courseHeader',style="background:rgba(255,255,255, 0.15);")
          h1(style='font-weight: 375', class='courseName')
            span(class='courseName')=courseName
          div(id="pagination-container")
      div(class='notes-container')
        each lecture in data
          div(class='card')
            p!= lecture['body']
        
            
        

        
            
  a(href='/projects')
    span(class='mainContainer right',href='/projects')
      h6() Projects
      
